body {
  font-family: "Quicksand", sans-serif;
}

.cabecera {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.scrollUp {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  background: #807e7e7a;
  position: fixed;
  bottom: 16px;
  right: 32px;
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.scrollUp.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
  transform: translateY(-50px);
}
